@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body{
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/wood_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    #loading{
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #Chessboard{
        #options{
            display: flex;
            justify-content: center;
        }
        h3{
            text-align: center;
        }
    }
}